{erl_opts, [no_debug_info, {parse_transform, exat}]}.
{deps, [
    %{a_struct, {git, "git://github.com/marianoguerra-atik/a_struct.git", {branch, "master"}}},
    {exat, {git, "git://github.com/marianoguerra/exat.git", {branch, "master"}}}
]}.

{plugins, [rebar_mix]}.
{provider_hooks, [{post, [{compile, {mix, consolidate_protocols}}]}]}.

{escript_incl_apps,
 [exat_example]}.
{escript_main_app, exat_example}.
{escript_name, exat_example}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
